main {
  display: flex;
}
section {
  flex: 1;
}
#ref {
}

#form {
  display: grid;
  flex: 1;
  grid-template-columns: max-width / 1fr / max-width;
  grid-template-rows: max-width / 1fr / max-width;
  grid-template-areas:
    "top-left top top-right"
    "left center right"
    "bottom-left bottom bottom-right";
}

fieldset {
  display: flex;
  flex-direction: column;
}

.top-left {
  grid-area: top-left;
}
.top {
  grid-area: top;
}
.left {
  grid-area: left;
}
.center {
  grid-area: center;
}
